.img-body{
    height: 630px;
}
@media only screen and (max-width:768px){
    .img-body{
        height: 500px;
    }
}

.fontnew{
    font-family: 'Exo'!important ;
    font-size: 80px;
}

.fontsizenew{
    font-family: 'Exo'!important;
    font-size: 30px!important;
}