.Clock {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(7, 31, 63);
  color: white;
  padding: 3rem;
}
.time {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border: 2px solid rgb(0, 247, 255);
  border-radius: 50%;
  margin: 1rem;
}
#heading {
  display: inline-block;
  font-size: 2.75rem;
  margin-right: 6rem;
}
#notation {
  margin-top: 0.75rem;
}
#value {
  margin-bottom: 0.75rem;
}
