.clock{
    font-size: 50px;
    color:#4b367c;
    /* text-shadow: 1px 1px 2px black;  */
}
.clock-body{
  border-bottom: 2px solid rgb(58, 57, 57);
  background-color: lightgrey;
  border-radius: 25%;
}

svg { position: absolute; }
.nextStep{visibility: hidden;}

#svgAnim path {
  stroke-dasharray: 100;
  animation: dash 1.5s linear infinite;
}

@keyframes dash {
  to { stroke-dashoffset: 400; }
}