/* hiding side nav for size less than 768px */
div#category-chooser{
    display: block;
}
span.fa-angle-right{
    display: none;
}

@media only screen and (max-width:768px){
    div#category-chooser{
        display:none;
    }
    span.fa-angle-right{
        display: block;
    }
        
}