/* hiding side nav for size less than 768px */
div#category-chooser{
    display: block;
}
span.fa-angle-right{
    display: none;
}

@media only screen and (max-width:768px){
    div#category-chooser{
        display:none;
    }
    span.fa-angle-right{
        display: block;
    }
        
}
.listt{
    width:130px;
    transition: .2s ease-in-out;
}
.listt:hover{
    width:145px;
    background-color:black;
    font-size: 21px !important;
}
.listt:active
{
    width:145px!important;
    background-color:black!important;
    font-size: 21px !important;
}
.categorycss
{
    font-size: 30px;
    font-style: bold;
}