.card-container{
   position: relative;
}
.mem-img{
   display:block;
    position: relative;
    border-radius: 10%;
}

.mem-details{
   position: absolute;
   top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0, 0, 0);
  border-radius: 10%;
}
.card-container:hover .mem-details{
   opacity: 1;
}
.text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
 }