*{
  margin:0px;
  padding:0px;
}
#toogle{
  position: fixed;
  top: 10px;
  left: 10px;
  color: green;
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 100%;
  border : 4px solid green;
  padding:8px 1px;
}
.bar{
  display:block;
  background-color:black;
  width:30px;
  height:3px;
  margin:4px 10px;
  transition: all 100ms linear;
}
#bar1{
  transform: translate(0px, 7px) rotate(45deg);
}
#bar2{
  transform: rotate(-45deg);
}

#bar3{
  transform: translate(0px, -7px) rotate(-45deg);
}
ul{
  list-style-type : none;
}
#side-nav{
  position: absolute;
  width:10%;
  height:10%;
/*   left: -1300px; */
  left:-140px;
  top: -40px;
  border-radius:50% 100% 100% 100%;
  transition: all 500ms ease-in;
  background-image: linear-gradient(to bottom right, yellow , rgb(0,120,180));
  z-index: 5;

  
}
#side-nav.show{
  width:100%;
  height:100%;
  left: 0px;
  top:0px;
  color: grey;
  border-radius:0%;
}
#side-nav ul{
  display:none;
  position: absolute;
  top:60px;
  left:50%;
}
#side-nav ul li{
  font-size:30px;
  cursor: pointer;
  border-bottom: 1px solid black; 
}




/* take font stuff */
.navigatbar {
    transition: .2s ease-in-out;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Exo'!important ;
    padding: -5 0px;
    margin: 0 0px;
  }
  .navigatbar:hover {
    font-size: 18px;
    color: black;
    border-bottom: 2px solid white;
    font-family: 'Exo'!important ;
    padding-top:-15px;
    padding-bottom:-15px;
  }