.navigatbar {
    transition: .2s ease-in-out;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Exo'!important ;
    padding: -5 0px;
    margin: 0 0px;
  }
  .navigatbar:hover {
    font-size: 18px;
    color: white;
    border-bottom: 2px solid white;
    font-family: 'Exo'!important ;
    padding-top:-15px;
    padding-bottom:-15px;
  }
  .camelcasenav
  {
    text-transform: capitalize;
  }